* {
    margin: 0 auto;
    padding: 0;
    line-height: 25px;
    color: #333;
}


article {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    border: #e0e0e0 solid 1px;
}

footer {
    position: absolute;
    top: 735px;
}

.img_footer {
    width: 100%;
    height: 100%;
}

#div_article-bg-left-upper,
#div_article-bg-left-under,
#div_article-bg-right {
    background: #f8f9fa;
    z-index: 999;
}

#div_article-bg-left-upper {
    float: left;
    width: 300px;
    height: 200px;
    border-top: 0;
    border-bottom: 0;
}

#div_article-bg-left-under {
    float: left;
    width: 300px;
}

#div_article-bg-right {
    float: right;
    width: 898px;
    border-left: #e0e0e0 solid 1px;
}


.img_portrait {
    width: 80px;
    height: 80px;
    margin-top: 45px;
    border-radius: 50px;
}

.tab_user_info {
    display: inline;
    margin-left: 10px;
}

.tab_user_info td {
    color: #ff5d73;
}

.tab_user_info td.firstRow {
    color: #333;
}

.div_article-bg {
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.div_article-bg li {
    list-style-type: none;
}

.div_article-bg li {
    height: 60px;
    line-height: 58px;
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
}

.div_article-bg li.current {
    background: #e8e8e8;
    border-left: 5px solid #ff5d73;
}

.div_article-bg li:hover {
    background: #e8e8e8;
    border-left: 5px solid #ff5d73;
}

#div_article-bg-right h3 {
    margin-left: 50px;
    text-align: left;
}

.tab_account-collect-list {
    margin: 0 50px;
    width: 800px;
    height: 105px;
    background: #e8e8e8;
}

.tab_account-collect-list td {
    text-align: center;
}

.tab_account-collect-list td.item {
    font-size: 20px;
}

.tab_account-collect-list td.sum {
    font-size: 18px;
    color: #ff5d73;
}

.tab_account-collect-list td.balance {
    color: #ff5d73;
}

.tab_account-collect-list button {
    width: 60px;
    outline: none;
    border: 1px solid #ff5d73;
    border-radius: 30px;
    background: #e8e8e8;
}

.tab_account-collect-list button:hover {
    background: #ff5d73;
}

.tab_account-detail-list {
    width: 800px;
    background: #f8f9fa;
}

.tab_account-detail-list {
    margin: 0 50px;
}

.tab_account-detail-list th {
    text-align: center;
    font-size: 18px;
    color: #333;
    background: #ff5e74;
    font-weight: 400;
}

.tab_account-detail-list td {
    text-align: center;
    line-height: 30px;
    font-size: 17px;
}

.tab_account-detail-list tr.textLeftColumn td,
.tab_account-detail-list th.textLeftColumn,
.tab_account-detail-list td.textLeftColumn,
.tab_account-detail-list th.textLeftColumn,
.tab_account-detail-list td.textLeftColumn {
    text-align: left;
}

.tab_account-detail-list tr:nth-child(even) {
    background: #e8e8e8;
}

.tab_account-detail-list button.btn {
    width: 80px;
    margin-right: 0;
}
.tab_btn_list button {
    width: 80px;
}
.tab_btn_list button,
.tab_btn_list span {
    margin-top: 10px;
}

.tab_btn_list button:hover {
    background: #ff5e74;
}
.tab_account-detail-list td.thirdColumn {
    width: 400px;
    text-indent: 32px;
    text-align: left;
}

.tab_account-detail-list img {
    width: 16px;
    height: 16px;
}

.tab_account-detail-list td.change:hover {
    background: #ff5e74;
}

