* {
    margin: 0 auto;
    padding: 0;
    line-height: 25px;
    color: #333;
}

article {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}



#div_article-bg-left-upper,
#div_article-bg-left-under,
#div_article-bg-right {
    background: #f8f9fa;
    border: #e0e0e0 solid 1px;
}

.div_content {
    width: 900px;
    height: 560px;
}

#div_article-bg-left-upper {
    float: left;
    width: 300px;
    height: 200px;
    border-bottom: 0;
}

#div_article-bg-left-under {
    float: left;
    width: 300px;
}

#div_article-bg-right {
    float: right;
    width: 900px;
    border-left: 0;
}

.div_user_info_bg {
    border: solid 5px #66ccff;
}

.img_portrait {
    width: 80px;
    height: 80px;
    margin-top: 45px;
    border-radius: 50px;
}

.tab_user_info {
    display: inline;
    margin-left: 10px;
}

.tab_user_info td {
    color: #ff5d73;
}

.tab_user_info td.firstRow {
    color: #333;
}

.div_article-bg {
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.div_article-bg li {
    list-style-type: none;
}

.div_article-bg li {
    height: 60px;
    line-height: 58px;
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
}

.div_article-bg li.current {
    background: #e8e8e8;
    border-left: 5px solid #ff5d73;
}

.div_article-bg li:hover {
    background: #e8e8e8;
    border-left: 5px solid #ff5d73;
}

#tab_account-collect-list {
    margin: 0 50px;
    width: 800px;
    height: 105px;
    background: #e8e8e8;
}

#section_article-bg-right h3 {
    margin-left: 50px;
    text-align: left;
}

#tab_account-collect-list td {
    text-align: center;
}

#tab_account-collect-list td.item {
    font-size: 20px;
}

#tab_account-collect-list td.sum {
    font-size: 18px;
    color: #ff5d73;
}

#tab_account-collect-list td.balance {
    color: #ff5d73;
}

#tab_account-collect-list button {
    width: 60px;
    outline:none;
    border: 1px solid #ff5d73;
    border-radius: 30px;
    background: #e8e8e8;
}

#tab_account-collect-list button:hover {
    background: #ff5d73;
}

.tab_account-detail-list {
    width: 900px;
    background: #f8f9fa;
}
