*{
	margin:0;
	padding:0;
}
body{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	background:#222;
	color:#333;
	overflow-x:hidden;
}
h1{
	font-size:56px;
	color:#ccc;
}
h2{
	font-size:20px;
	padding:10px 0px 10px 0px;
	margin:15px 0px 20px 0px;
	color:#999;
	text-shadow:0 0 3px 5px #000000;
}
a{
	color:#555;
	text-decoration:none;
}
a:hover{
	color:#222;
}
p{
	padding:5px 0px;
}
.wrapper{
	width:960px;
	margin:10px auto;
}
.clear{
	clear:both;
}
.footer{
	text-align:center;
	width:100%;
	padding:20px 0px;
	clear:both;
	margin-top:30px;
	color:#666;
}
.footer a{
	margin:0px 20px;
}
.footer a:hover{
	color:#666;
}
/* Slider Style */
.pxs_container{
	width:100%;
	height:420px;
	position:relative;
	border-top:7px solid #333;
	border-bottom:7px solid #333;
	overflow:hidden;
	-moz-box-shadow:0px 0px 7px #000;
	-webkit-box-shadow:0px 0px 7px #000;
	box-shadow:0px 0px 7px #000;
}
.pxs_bg{
	background:url('bg.png') top left;
}
.pxs_bg div{
	position:absolute;
	top:0px;
	left:0px;
	width:7584px;
	height:420px;
	background-repeat:repeat;
	background-position:top left;
	background-color:transparent;
}
.pxs_bg .pxs_bg1{
	/*background-image:url(bg1.png);*/
	/*left negative 1/8 of*/
	background:url('2.png') repeat-x left top;
}
.pxs_bg .pxs_bg2{
	background:url('1.png') repeat-x -200px 20px;
	/*left negative 1/4 of*/
}
.pxs_bg .pxs_bg3{
	/*background-image:url(bg3.png);*/
	/*left negative 1/2 of*/
	background:url('3.png') repeat-x left 140px;
}
.pxs_slider_wrapper{
	display:none;
}
.pxs_container ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
ul.pxs_slider{
	position:absolute;
	left:0px;
	top:0px;
	height:420px;
}
ul.pxs_slider li{
	height:420px;
	float:left;
	position:relative;
}
ul.pxs_slider li img{
	display:block;
	margin:35px auto 0px auto;
	-moz-box-shadow:0px 0px 7px #222;
	-webkit-box-shadow:0px 0px 7px #222;
	box-shadow:0px 0px 7px #222;
	border: 8px solid transparent;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
ul.pxs_thumbnails{
	height:35px;
	position:absolute;
	top:320px;
	left:50%;
}
ul.pxs_thumbnails li{
	position:absolute;
	display:block;
}
ul.pxs_thumbnails li img{
	border: 5px solid #FFFFFF;
	-moz-box-shadow:1px 1px 7px #555;
	-webkit-box-shadow:1px 1px 7px #555;
	box-shadow:1px 1px 7px #555;
	cursor:pointer;
	display:block;
	opacity:0.7;
}
ul.pxs_thumbnails li.selected img{
	opacity:1.0;
}
.pxs_navigation span{
	position:absolute;
	width:30px;
	height:60px;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
	top:145px;
	opacity:0.6;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
}
.pxs_navigation span:hover{
	opacity:0.9;
}
.pxs_navigation span.pxs_prev{
	background:#000 url('prev.png') no-repeat center;
}
.pxs_navigation span.pxs_next{
	background:#000 url('next.png') no-repeat center;
}
.pxs_loading{
	color:#fff;
	font-size:20px;
	background:#333 url('ajax-loader.gif') no-repeat 10px 50%;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	opacity:0.7;
	width:180px;
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-90px; padding-left:50px; padding-right:15px; padding-top:15px; padding-bottom:15px
}

//登录
/* div公用样式设置 */
div {
	text-align: center; /* 文字居中对齐 */
	line-height: 50px;
}
/* 字体样式设置 */
@font-face {
	font-family: myFont;
	src:url('../fonts/华文楷体.ttf');
	font-weight: bolder;
}
/* 图片 */
.img1 {
	width: 100px;
	height: 83px;
	position: absolute;
	top: 2px;
	left: 1px;
}
/* 主标题 */
.title {
	margin:0;
	padding:0;
	font-family: myFont;
	color: white;
	position: absolute;
	top: 23px;
	left: 120px;
}
/* 退出 */
.exit {
	float: right;
	margin-right: 20px;
	font-family: myFont;
	color: white;
	font-size: 17px;
}
/* 帮助 */
.help {
	float: right;
	margin-right: 15px;
	font-family: myFont;
	color: white;
	font-size: 17px;
}
/* 设置鼠标悬停的样式 */
#query,#add,.exit,.help {
	cursor: pointer;
}
/* 用户名称 */
.users {
	min-width: 305px;
	position: absolute;
	left: 10px;
}
/* 查询文本框 */
.queryText {
	max-width: 125px;
	height: 20px;
	margin-left: 10px
}
/* 查询按钮 */
.queryButton {
	width:79px;
	height: 28px;
	margin-left: 10px;
}
/* usertable表单 */
.userTable {
	min-width: 800px;
	position: absolute;
	top: 50px;
	left: 10px;
	right: 10px;
}
tr {
	line-height: 40px;
	text-align: left;
}
a {
	color: black;
	text-decoration: none;
}
.pngLeft {
	width: 100%;
	height: 22%;
	position: absolute;
	bottom: 40px;
}
/* 用户信息对齐方式 */
.main-left {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
}
/* span输入框 */
.textAll {
	text-align: left;
	min-width: 50%;
	width: 50%;
	margin-left: 30px;
}
/* 相同的input属性 */
.inputAll {
	width: 400px;
	height: 25px;
}
/* main的底部样式 */
.main-bottom {
	width: 265px;
	height: 90px;
	margin-left: 370px;
	padding: 0;
	margin-top: 0;
}
#save,#reset,#return {
	width: 70px;
	height: 27px;
	color: white;
}
#save {
	background-color: #56B85A;
	margin: 0px;
	margin-right: 10px;
}
#reset {
	background-color: #0595C1;
	margin: 0px;
	margin-right: 10px;
}
#return {
	margin: 0px;
	background-color: #C7C7C7;
}
.styleHr {
	margin:0px;
	margin-left: 30px;
	margin-right: 30px;
}
.main-right {
	width: 344px;
	height: 300px;
	position: absolute;
	top: 54px;
	left: 521px;
}
.imgAvatar {
	margin-left: -90px;
	border-radius: 1em;
	width: 50%;
}
.upLoad {
	display: block;
	margin-left: 44px;
	width: 193px;
	height: 20px;
	font-size: 12px;
	border-radius: 0.5em;
	background-color: white;
	border-width: 2px;
	border-bottom-width: 1px;
	border-right-width: 1px;
}